.side-left-content {
  .components {
    height: 100%;

    .ant-row {
      padding: 10px;

      .ant-col {
        padding-bottom: 10px;
      }
    }

    &-item {
      background-color: #fff;
      flex: 1;
      width: 100%;
      margin-bottom: 4px;
      text-align: center;
      border: 1px dashed #b9b9b9;
      cursor: pointer;
      transition: all .2s ease;
      &:hover{
        box-shadow: var(--box-shadow);
      }

      &-img {
        pointer-events: none;
        padding: 2px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

    }

    &-name {
      text-align: center;
      background-color: #fff;
      text-shadow: 1px 2px 5px rgba(209, 209, 209, 0.2);
    }

    .ant-tabs {
      height: 100%;

      .ant-tabs-tab {
        padding: 0 20px;
        line-height: 50px;
        margin: 0;
      }

      .ant-tabs-tabpane {
        padding: 10px;
      }
    }
  }
}