.manage-component-detail {
  height: 100vh;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    bottom: 0;
    display: flex;
    overflow: hidden;
    // border-right: 1px solid #858484;

    &-top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      border-bottom: 1px solid grey;
    }
  }

  .right {
    position: absolute;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;

    .manage-component-detail-tabs {
      width: 100%;

      .ant-tabs-nav{
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .ant-tabs-nav-wrap {
        padding: 0 20px;
      }
      >.ant-tabs-content-holder{
        >.ant-tabs-content {
          height: 100%;
          box-shadow: inset -2px -2px 5px #a7acb4,inset 2px 2px 5px #e4ebf5;
  
          overflow: hidden;
          background-color: #fff;
        }
      }
      

      .ant-tabs-tabpane {
        padding: 20px 20px;
        height: 100%;
      }

      &-extBtn{
        padding-right: 20px;
      }
    }

    .ant-spin {
      // max-height: initial;
    }
  }
}