.manage-component {
  min-height: calc(100vh - 80px);

  .ant-tabs {
    height: 100%;

    .ant-tabs-tab-btn {
      padding-right: 20px;

      .ant-badge {
        position: absolute;
        right: 15px;
        top: 0;
      }
    }
  }

  &-card {
    width: 200px;

    .ant-card-body {
      padding: 10px 20px;
    }
    .ant-card-actions{
      li{
        margin: 6px 0;
      }
    }
  }
}