.manage-component{
  min-height: calc(100vh - 80px);
  .ant-tabs{
    height: 100%;
    .ant-tabs-tab-btn{
      padding-right: 20px;
      .ant-badge{
        position: absolute;
        right: 15px;
        top: 0;
      }
    }
  }
}