.manage-page {
  min-height: 100vh;

  &-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 200px);

    .manage-page-item {
      width: 1000px / 4;
      height: 300px;

      .page-card {
        border-radius: 10px;
        overflow: hidden;
        width: 200px;
        margin: 10px auto;
        transition: all .3s ease;
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
        border: 1px solid rgba(243, 247, 250, .05);
  
        .ant-empty {
          margin-top: 80px;
        }
  
        .ant-card-cover {
          height: 250px;
          overflow: hidden;
        }
  
        .ant-card-body {
          z-index: 1;
          border-top: 1px solid rgba(100, 99, 99, 0.16);
  
          padding: 10px;
  
          .title {
            text-align: center;
            font-size: 12px;
          }
        }
  
        &-img {
          width: 100%;
          display: block;
  
          &:hover {
            animation: scrollToBottom 1s linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
  &-pagination{
    text-align: center;
    padding: 20px 0;
  }
  
}