@mobile-head-height: 22px / 718px * 330px;

.mobile-simulator-container {
  position: relative;
  margin: auto;
  height: 80vh;

  .mobile-simulator {
    position: relative;
    margin: auto;
    transition: width 0.3s ease 0s, height 0.3s ease 0s;
    height: 80vh;
    width: 350px;
    box-sizing: content-box;
    min-width: 350px;
    box-shadow: 3px 3px 6px #bec8e4, -3px -3px 6px #fff;
    border-radius: 24px;
    background-color: rgba(163, 162, 162, 0.5);
    background-image: url("../../assets/images/egg-shell.png");
    border: 3px solid #999fa7;

    .mobile-head-bar {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      height: @mobile-head-height;
      background-size: 100% 100%;
      background-image: url('../../assets/images/mobile_head_bar.png');
    }

    .mobile-content {
      position: absolute;
      top: @mobile-head-height + 20px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;

      .mobile {
        border: none;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .select-area {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 100px;
    margin-top: @mobile-head-height + 20px + 3px;
    transition: top .2s linear, height .1s linear,border .2s linear;
    z-index: 1;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0);
    // &.border{
    //   // box-shadow: 3px 3px 12px #bec8e4, -3px -3px 12px #bec8e4;
    //   // border: 1px solid orange;
    //               animation: linearGradientMove .6s infinite linear;
    //   background:
    //     linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, transparent 0) repeat-x,
    //     linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, transparent 0) repeat-x,
    //     linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 0) repeat-y,
    //     linear-gradient(0deg,rgba(0, 0, 0, 1) 50%, transparent 0) repeat-y;
    //   background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
    //   background-position: 0 0, 0 100%, 0 0, 100% 0;
    //   padding: 1px;
    // }

    &-panel {
      z-index: 0;
      background-color: #babcbe;
      position: absolute;
      top: 0;
      right: -31px;
      width: 30px;
      bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 90px;
      box-shadow: 3px 3px 12px #bec8e4;
      pointer-events: initial;

      &-operation {
        text-align: center;

        .iconfont {
          font-size: 18px;
          height: 30px;
          line-height: 30px;
          cursor: pointer;
          color: #2f3330;
          font-weight: normal;

          &:hover {
            transition: all .3s ease;
            color: #1890ff;
          }
        }
      }
    }
  }

  @keyframes linearGradientMove {
    100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
  }
}