@header-height: 60px;
@side-left-width: 500px;
@side-right-width: 400px;
@mobile-head-height: 22px / 718px * 330px;

.design {
  position: relative;
  height: 100vh;
  background-color: rgb(239 242 245);

  ::-webkit-scrollbar {
    width: 6px
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset -2px -2px 5px #fff, inset 2px 2px 5px #bec8e4;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 3px solid transparent;
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    background: #ececec;
    z-index: 10;


    // border-bottom: 1px solid #bfbfbf;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      box-shadow: inset -1px -1px 3px #fff,inset 1px 1px 3px #bec8e4;
    }
  }

  .side-right {
    position: absolute;
    top: @header-height;
    right: 0;
    bottom: 0;
    width: @side-right-width;
    // border-left: 1px solid #858484;
  }

  .center {
    position: absolute;
    top: @header-height;
    left: @side-left-width;
    right: @side-right-width;
    bottom: 0;
    display: flex;
    overflow: hidden;


    .mobile-simulator {
      position: relative;
      margin: auto;
      transition: width 0.3s ease 0s, height 0.3s ease 0s;
      height: 80vh;
      width: 350px;
      min-width: 350px;
      box-shadow: 3px 3px 6px #bec8e4, -3px -3px 6px #fff;
      border-radius: 24px;
      background-color: rgba(163, 162, 162, 0.5);
      background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
      border: 3px solid #999fa7;
      overflow: hidden;

      .mobile-head-bar {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        height: @mobile-head-height;
        background-size: 100% 100%;
        background-image: url('../../assets/images/mobile_head_bar.png');
      }

      .mobile-content {
        position: absolute;
        top: @mobile-head-height + 20px;
        left: 0;
        right: 0;
        bottom: 0;

        .mobile {
          border: none;
          width: 100%;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          opacity: 0;
          transition: all .3s ease;
          &.show{
            opacity: 1;
          }
        }
      }
    }
  }
}

.blur-loading{
  .ant-spin-blur{
    filter: blur(3px);
  }
  .ant-spin{
    min-height: 100vh !important;
  }
}