@header-height: 60px;
@side-left-width: 500px;
@side-right-width: 400px;

.design {
  position: relative;
  height: 100vh;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    background: #eaedf0;

    // border-bottom: 1px solid #bfbfbf;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      transform: translateY(0.5);
      background: #bfbfbf;
    }
  }

  .side-right {
    position: absolute;
    top: @header-height;
    right: 0;
    bottom: 0;
    width: @side-right-width;
    border-left: 1px solid #858484;
    background-color: #fff;
  }

  .center {
    position: absolute;
    top: @header-height;
    left: @side-left-width;
    right: @side-right-width;
    bottom: 0;
    display: flex;
    overflow: hidden;
    background-color: #f3f2f2;

    .mobile {
      margin: auto;
      transition: width 0.3s ease 0s, height 0.3s ease 0s;
      position: relative;
      border: 10px solid grey;
      border-radius: 4px;
      height: 80vh;
      width: 350px;
    }
  }
}
