.side-left-content {
  .page {
    position: relative;
    height: 100%;
    // padding-top: 20px;
    overflow-y: scroll;

    &-card {
      width: 240px;
      margin: 20px auto;
      border-radius: 16px;
      overflow: hidden;
      // box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
      border: 1px solid #f0f0f0;

      &.select {
        border: 2px solid #06c;
      }

      .ant-card-cover {
        height: 300px;
        overflow: hidden;
      }

      .ant-card-body {
        padding: 0;
        position: relative;

        .title {
          position: absolute;
          top: -40px;
          left: 0;
          right: 0;
          text-align: center;
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    &-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &-center {
        height: 400px;
        text-align: center;
      }

      &-new-btn {
        margin-top: 40px;
      }
    }
  }
}