html, body, #root {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

body {
  margin: 0;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-corner, /* 滚动条角落 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 0px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track { /* 滚动条轨道 */
  background-color: rgba(197, 176, 134, 0.1);
  box-shadow: inset 0 0 1px rgba(180,160,120,.5);
}
::-webkit-scrollbar-thumb { /* 滚动条手柄 */
  background-color: rgb(197, 190, 175);
}

:root {
  --light-bg: #e4ebf5;
  --light-bg-dark-shadow: #bec8e4;
  --light-bg-light-shadow: #ffffff;

  --dark-bg: #444444;
  --dark-bg-dark-shadow: #363636;
  --dark-bg-light-shadow: #525252;

  --white: #ffffff;
  --black: #000000;

  --primary: #2979ff;
  --primary-dark: #2962ff;
  --primary-light: #82b1ff;

  --error: #ff5252;
  --info: #2196f3;
  --success: #4caf50;
  --warning: #dfa700;

  --g-text-color-light: rgba(0, 0, 0, 0.93);
  --g-text-color-disabled-light: rgba(0, 0, 0, 0.45);
  --g-text-color-secondary-light: rgba(0, 0, 0, 0.7);

  --g-text-color-dark: rgba(255, 255, 255, 0.93);
  --g-text-color-disabled-dark: rgba(255, 255, 255, 0.45);
  --g-text-color-secondary-dark: rgba(255, 255, 255, 0.7);

  --g-bg-color-disabled-light: #dee5e8;
  --g-bg-color-disabled-dark: #727272;

  --bg-color: var(--light-bg);
  --text-color: var(--g-text-color-light);
  --light-border-color: var(--light-bg-dark-shadow);
  --text-color-disabled: var(--g-text-color-disabled-light);
  --box-shadow: 5px 5px 12px var(--light-bg-dark-shadow),-4px -4px 10px var(--light-bg-light-shadow);
  --box-shadow-hover: 2px 2px 5px var(--light-bg-dark-shadow),-2px -2px 5px var(--light-bg-light-shadow);
  --box-shadow-inset: inset -2px -2px 5px var(--light-bg-light-shadow),inset 2px 2px 5px var(--light-bg-dark-shadow);
  --box-shadow-inset-low: inset -1px -1px 3px var(--light-bg-light-shadow),inset 1px 1px 3px var(--light-bg-dark-shadow);
  --box-shadow-fab: 10px 10px 20px var(--light-bg-dark-shadow),-7px -7px 16px var(--light-bg-light-shadow);
}
